extends ../template.pug

mixin control(subPage)
	ul.h-control-list
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/notes", class=(subPage === "notes") ? "active" : "") Notes
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/collections", class=(subPage === "collections") ? "active" : "") Collections

mixin navLinks(prevLink, nextLink)
	div.page-nav-links
		a.prev-link(href!=prevLink)
			span.fa.fa-chevron-left
		a.next-link(href!=nextLink)
			span.fa.fa-chevron-right

block head
	title {{.pageUser.UserName}}

block css
	link(rel="stylesheet", href="/assets/user.css")

block body
	div.panel.user-info.page-sidebar
		div.panel-body
			| {{if ne .pageUser.Name ""}}
			div.user-info-field.user-full-name {{.pageUser.Name}}
			| {{end}}
			div.user-info-field.user-name {{.pageUser.UserName}}
			div.user-info-field.joined-date
				| Joined - {{.pageUser.CreatedAt.Format "2006-01-02"}}
			div.user-info-field.num-notes
				| {{len .pageUser.Notes}} Notes
			div.user-info-field.num-collections
				| {{len .pageUser.Collections}} Collections
	div.panel.user-items.page-body
		div.panel-body
			block user-body
