extends ../template.pug

mixin control(subPage)
	ul.h-control-list
		| {{if (or (eq .pageUser.Type "writer") (eq .pageUser.Type "admin"))}}
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/notes", class=(subPage === "notes") ? "active" : "")
				| Notes
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/collections", class=(subPage === "collections") ? "active" : "")
				| Collections
		| {{end}}
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/upvote-notes", class=(subPage === "upvote-notes") ? "active" : "")
				| Upvoted Notes
		li.h-control
			a(href="/u/{{.pageUser.UserName}}/upvote-collections", class=(subPage === "upvote-collections") ? "active" : "")
				| Upvoted Collections

block head
	title {{.pageUser.UserName}}

block css
	link(rel="stylesheet", href="/assets/user.css")

block body
	div.panel.user-info.page-sidebar
		div.panel-body
			| {{if ne .pageUser.Name ""}}
			h3.user-info-field.user-full-name {{.pageUser.Name}} ({{.pageUser.UserName}})
			| {{else}}
			h3.user-info-field.user-name {{.pageUser.UserName}}
			| {{end}}
			div.user-info-field.joined-date.darker
				| Joined - {{.pageUser.CreatedAt.Format "2006-01-02"}}
			| {{if (or (eq .pageUser.Type "writer") (eq .pageUser.Type "admin"))}}
			div.stats-container
				div.stat
					div.stat-title Notes
					div.stat-count {{len .pageUser.Notes}}
				div.stat
					div.stat-title Collections
					div.stat-count {{len .pageUser.Collections}}
			| {{end}}
	div.panel.user-items.page-body
		div.panel-body
			block user-body

block scripts
	script(src="/assets/ranking.js")
