extends ./user.pug

block user-body
	+control("collections")
	div.item-list
		| {{range $i, $e := .pageUser.Collections}}
		div.list-item
			div.item-left
				span.item-number {{$i}}
			div.item-right
				div.item-title
					a(href="/collection/{{$e.ID}}") {{$e.Title}}
				div.item-description {{$e.Description}}
		| {{end}}
