extends ./user.pug

include ../items.pug

block user-body
	+control("upvote-collections")
	div.pageify-content
		span.page-number Page {{.currentPage}}
		div.item-list.full-width
			| {{range .collections}}
			+collectionItem("/collection/{{.ID}}", "")
			| {{end}}
		- var prevLink = "/u/{{.pageUser.UserName}}/upvote-collections?items={{.items}}&page={{.prevPage}}"
		- var nextLink = "/u/{{.pageUser.UserName}}/upvote-collections?items={{.items}}&page={{.nextPage}}"
		+navLinks(prevLink, nextLink)
