extends ./user.pug

include ../items.pug

block user-body
	+control("collections")
	div.user-items-content
		span.page-number Page {{.currentPage}}
		div.item-list
			| {{range .collections}}
			+collectionItem("/collection/{{.ID}}", "")
			| {{end}}
		- var prevLink = "/u/{{.pageUser.UserName}}/collections?items={{.items}}&page={{.prevPage}}"
		- var nextLink = "/u/{{.pageUser.UserName}}/collections?items={{.items}}&page={{.nextPage}}"
		+navLinks(prevLink, nextLink)
