extends ../template.pug

mixin sidebarLink(link, text, active)
	a.sidebar-link(href=link, class=active ? "active" : "") #{text}

mixin sidebar(subPage)
	div.panel.page-sidebar
		h4.sidebar-header Account Settings
		+sidebarLink("/account/profile", "Profile", subPage == "profile")
		+sidebarLink("/account/security", "Security", subPage == "security")
		+sidebarLink("/account/notifications", "Notifications", subPage == "notifications")

block head
	title {{.user.UserName}}

block css
	link(rel="stylesheet", href="/assets/account.css")
