extends ./template.pug

block head
	title {{.collection.Title}} - {{.note.Title}}

block css
	link(rel="stylesheet", href="/assets/collection-note.css")

block body
	div.collection-sidebar
		div.sidebar-heading
			a(href="/collection/{{.collection.ID}}") {{.collection.Title}}
		ul.sidebar-links
			| {{range .collection.Notes}}
			| {{if eq .ID $.note.ID}}
			li
				a.sidebar-item.active(href="/collection/{{$.collection.ID}}/note/{{.ID}}/{{toSnakeCase .Title}}") {{.Title}}
			| {{else}}
			li
				a.sidebar-item(href="/collection/{{$.collection.ID}}/note/{{.ID}}/{{toSnakeCase .Title}}") {{.Title}}
			| {{end}}
			| {{end}}
	div.collection-body
		include ./note.pug

block scripts
	script(src="/assets/ranking.js")
