extends ./template.pug

block head
	title {{.collection.Title}}

block css
	link(rel="stylesheet", href="/assets/collection.css")

block sidebar-btn
	div.sidebar-btn-container
		span.fa.fa-bars.sidebar-btn

block sidebar
	div#sidebar.sidebar

block body
	div.hidden.data
		div#collection-data {{.collectionJSON}}

block scripts
	script(src="/assets/sidebar.js")
	script(src="/assets/collection.js")
