extends ./template.pug

block head
	title Project Domino Editor Demo
	link(rel="stylesheet", href="/assets/editor.css")

block body
	div.container
		div.col-md-6.col-md-offset-3
			| asdf

block scripts
	script(src="/assets/editor.js")
