extends ./template.pug

block head
	title Project Domino Editor Demo

block css
	link(rel="stylesheet", href="/assets/editor.css")
	style #editor { min-height: 50vh; }

block body
	div.container
		div.col-6.col-md-offset-3
			div#editor
			div#editor-debug-out

block scripts
	script(src="/assets/editor.js")
