extends ./template.pug

block head
	title Error

block body
	div.panel.panel-single
		h2 Error {{ .errors.Status }} ({{ .errors.StatusText }})
		div.panel-body
			| {{ range .errors.Errors }}
			pre {{ . }}
			| {{ end }}
