extends ./template.pug

mixin topic(name, shortName)
	- if(!shortName) shortName = name.replace(/\s+/g, "-").toLowerCase();
	li: a(href="/browse/" + shortName)= name

block head
	title Project Domino
	link(rel="stylesheet", href="/assets/home.css")

block body
