extends ./template.pug

mixin topic(name, shortName)
	- if(!shortName) shortName = name.replace(/\s+/g, "-").toLowerCase();
	li: a(href="/browse/" + shortName)= name

block head
	title Project Domino

block body
	div.container
		div.row
			div.col-xs-4
				h3 Natural Science
				ul
					+topic("Biology")
					+topic("Chemistry")
					+topic("Physics")
			div.col-xs-4
				h3 Formal Science
				ul
					+topic("Computer Science")
					+topic("Mathematics")
			div.col-xs-4
				h3
					span(data-toggle="tooltip", data-placement="top", title="Fake") Social
					|  Science
				ul
					+topic("Anthropology")
					+topic("Business")
					+topic("Civics and Political Science", "civics")
					+topic("Economics")
					+topic("Education")
		div.row
			div.col-xs-4
				h3 Literature
				ul
					+topic("Shakespeare and Shit")
			div.col-xs-4
				h3 Languages
				ul
					+topic("Spanish")
					+topic("French")
					+topic("German")
					+topic("Latin")
					+topic("Chinese")
					+topic("Japanese")
					+topic("Korean")
			div.col-xs-4
				h3 Visual Arts
				ul
					+topic("Architecture")
					+topic("Sculpture")
