extends ./template.pug

block head
	title {{.note.Title}}

block css
	link(rel="stylesheet", href="/assets/individual-note.css")

block body
	include ./note.pug

block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js")
	script(src="/assets/note.js")
