extends ./template.pug

block head
	title Login

block css
	link(rel="stylesheet", href="/assets/login.css")

block body
	div.login-panel
		h2.login-header Login
		input#username-field.form-input(placeholder="Enter your username...")
		input#password-field.form-input(placeholder="Enter your password...", type="password")
		button#login-btn Login
		span.seperator or...
		a(href="/register") Register

block scripts
	script(src="/assets/login.js")
