extends ./writer-panel.pug

block writer-panel-head
	title New Note
	link(rel="stylesheet", href="/assets/select2.css")
	link(rel="stylesheet", href="/assets/new-note.css")

block writer-panel-body
	div.panel.new-note-container
		h2.panel-heading Create a new note
		h4.field-header Title
		input.new-note-title.form-input(placeholder="Enter note title...")
		h4.field-header Type your note's content below...
		textarea.new-note-editor
		h4.field-header Pick some tags for your note...
		div.tag-selector-container
			select.tag-selector.js-example-basic-multiple(multiple="multiple")
				option(value="example1") example1
				option(value="example2") example2
				option(value="example3") example3
				option(value="example4") example4
				option(value="example5") example5
		div.panel-footer
			button.form-btn.publish-note-btn Publish Note
			button.form-btn.save-draft-btn Save Draft

block scripts
	script(src="/assets/new-note.js")
