extends ./template.pug

block head
	title Note

block css
	link(rel="stylesheet", href="/assets/sidebar.css")

block sidebar-btn
	div.sidebar-btn-container
		span.fa.fa-bars.sidebar-btn

block sidebar
	div#sidebar.sidebar

block scripts
	script(src="/assets/sidebar.js")
	script(src="/assets/note.js")
