include tags.pug

div.panel.note-container
	div.item-heading
		h2.item-title {{.note.Title}}
		div.item-heading-right
			span.note-date Last Updated - {{.note.UpdatedAt.Format "2006-01-02"}}
	div.panel-body {{.noteHTML}}
	div.panel-seperator
	+tagList(".note.Tags")
	div.contributor-container
		span.note-author Created By -
			= ' '
			a(href="/u/{{.note.Author.UserName}}") {{.note.Author.UserName}}
div.hidden.data
	div#note-data {{.noteJSON}}
