div#editor-toolbar.toolbar
	span.ql-format-group
		select.ql-size(title="Size")
			option(value="10px") Small
			option(value="13px", selected="") Normal
			option(value="18px") Large
			option(value="32px") Huge
	span.ql-format-group
		span.ql-format-button.ql-bold(title="Bold")
		span.ql-format-seperator
		span.ql-format-button.ql-italic(title="Italic")
		span.ql-format-seperator
		span.ql-format-button.ql-underline(title="Underline")
		span.ql-format-seperator
		span.ql-format-button.ql-strike(title="Strikethrough")
	span.ql-format-group
		span.ql-format-button.ql-list(title="List")
		span.ql-format-seperator
		span.ql-format-button.ql-bullet(title="Bullet")
	span.ql-format-group
		span.ql-format-button.ql-link(title="Link")
		span.ql-format-button.ql-image(title="Image")
div#editor.new-note-editor.editor
