extends ./template.pug

block head
	title Reset Password

block body
	div.panel.panel-single
		h2 Reset your password
		div.panel-body
			h4.panel-field-header Verification
			input#username-field.form-input(placeholder="Enter your username...")
			p.hidden.form-notify.username-notify
			button#passwd-verification-send-btn.btn.btn-primary
				| Send Verification Code
			h4.panel-field-header Change Password
			input#verification-code-field.form-input(placeholder="Enter your verification code...")
			p.hidden.form-notify.verification-code-notify
			input#password-field.form-input(placeholder="Choose a password...", type="password")
			p.hidden.form-notify.password-notify
			input#retype-password-field.form-input(placeholder="Retype your password...", type="password")
			p.hidden.form-notify.retype-password-notify
			button#reset-passwd-btn.btn.btn-primary Reset Password

block scripts
	script(src="/assets/reset-password.js")
