doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="https://use.fontawesome.com/3ca30f4373.js")
		link(rel="stylesheet", href="/assets/main.css")
		block head
	body
		div.navbar
			div.sidebar-btn-container
				span.fa.fa-bars.sidebar-btn
			h2.logo
				a.navbar-title(href="/") Domino
			div.search-container
				input.search-field(placeholder="Search...")
				button.search-btn
					span.fa.fa-search
			div.nav-right-container
				| {{if .loggedIn}}
				| {{if eq .requestUser.Type "writer"}}
				div.dropdown.new-item-dropdown
					span.dropdown-btn.new-item-dropdown-btn.fa.fa-plus
					div.dropdown-content.new-item-dropdown-content
						a(href="/new/note") + Note
						a(href="/new/collection") + Collection
						a(href="/new/textbook") + Textbook
				| {{end}}
				div.dropdown.account-dropdown
					span.dropdown-btn.account-dropdown-btn
						| {{if ne .requestUser.FirstName ""}}
						| 	{{.requestUser.FirstName}}
						| 	{{if ne .requestUser.LastName ""}}
						| 		{{.requestUser.LastName}}
						| 	{{end}}
						| {{else}}
						| 	{{.requestUser.UserName}}
						| {{end}}
					div.dropdown-content.account-dropdown-content
						a(href="/account") My Account
						a.logout-btn Sign Out
				| {{else}}
				button.sign-in-btn Sign In
				| {{end}}
		div#sidebar.sidebar
		div#main-content.main-content
			block body
		div#modal.modal
			div.container
				div#modal-content.modal-content
					div#modal-header.modal-header
						span#modal-close.modal-close ×
					div#modal-body.modal-body
					div#modal-footer.modal-footer
		div#alert.alert
			div#alert-content.alert-content
				span#alert-close.alert-close ×
				span#alert-text.alert-text
		script(src="/assets/main.js")
		block scripts
