doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block head
		link(rel="stylesheet", href="/assets/header.css")
		link(rel="stylesheet", href="/assets/main.css")
	body
		div.navbar
			ul.navbar-list.container
				li.navbar-left
					a.navbar-title(href="/") Project Domino
				li.navbar-left
					div.search-container
						input.search-field(placeholder="Search...")
						button.search-btn Search
				| {{if .loggedIn}}
				| {{if eq .requestUser.Type "writer"}}
				li.navbar-right
					div.dropdown
						button.dropdown-btn +
						div.dropdown-content
							a(href="/new/note") New Note
							a(href="/new/collection") New Collection
							a(href="/new/textbook") New Textbook
				| {{end}}
				li.navbar-right
					div.dropdown
						button.dropdown-btn
							| {{if ne .requestUser.FirstName ""}}
							| 	{{.requestUser.FirstName}}
							| 	{{if ne .requestUser.LastName ""}}
							| 		{{.requestUser.LastName}}
							| 	{{end}}
							| {{else}}
							| 	{{.requestUser.UserName}}
							| {{end}}
						div.dropdown-content
							a(href="/account") My Account
							a.logout-btn Sign Out
				| {{else}}
				li.navbar-right
					a(href="/login") Sign In
				| {{end}}
		block body
		div#modal
			div.container
				div#modal-content
					div#modal-header
						span#modal-close ×
					div#modal-body
					div#modal-footer
		div#alert
			div#alert-content
				span#alert-text
		script(src="/assets/main.js")
		block scripts
