doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block head
		link(rel="stylesheet", href="/assets/header.css")
		link(rel="stylesheet", href="/assets/util.css")
		| {{range .stylesheets}}
		link(rel="stylesheet", href="{{.Link}}")
		| {{end}}
	body
		div.navbar
			ul.navbar-list.container
				li.navbar-left
					a.navbar-title(href="/") Project Domino
				li.navbar-left
					div.search-container
						input.search-field(placeholder="Search...")
						button.search-btn Search
				| {{if .loggedIn}}
				| {{if eq .requestUser.Type "writer"}}
				li.navbar-right
					div.dropdown
						button.dropdown-btn +
						div.dropdown-content
							a(href="/new/note") New Note
							a(href="/new/collection") New Collection
							a(href="/new/textbook") New Textbook
				| {{end}}
				li.navbar-right
					div.dropdown
						button.dropdown-btn {{.requestUser.FirstName}} {{.requestUser.LastName}}
						div.dropdown-content
							a(href="/account") My Account
							a(href="/logout") Sign Out
				| {{else}}
				li.navbar-right
					a.login-btn(href="#") Sign In
				| {{end}}
		block body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		| {{range .scripts}}
		script(src="{{.Link}}")
		| {{end}}
		block scripts
