doctype html

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block head
		link(rel="stylesheet", href="/assets/header.css")
		link(rel="stylesheet", href="/assets/main.css")
	body
		div.navbar
			h2.logo
				a.navbar-title(href="/") Project Domino
			div.search-container
				input.search-field(placeholder="Search...")
				button.search-btn Search
			div.nav-right-container
				| {{if .loggedIn}}
				| {{if eq .requestUser.Type "writer"}}
				div.dropdown.new-item-dropdown
					button.dropdown-btn +
					div.dropdown-content
						a(href="/new/note") New Note
						a(href="/new/collection") New Collection
						a(href="/new/textbook") New Textbook
				| {{end}}
				div.dropdown.account-dropdown
					button.dropdown-btn
						| {{if ne .requestUser.FirstName ""}}
						| 	{{.requestUser.FirstName}}
						| 	{{if ne .requestUser.LastName ""}}
						| 		{{.requestUser.LastName}}
						| 	{{end}}
						| {{else}}
						| 	{{.requestUser.UserName}}
						| {{end}}
						div.dropdown-content
							a(href="/account") My Account
							a.logout-btn Sign Out
				| {{else}}
				div.sign-in-container
					button.sign-in-btn
						a(href="/login") Sign In
				| {{end}}
		block body
		div#modal
			div.container
				div#modal-content
					div#modal-header
						span#modal-close ×
					div#modal-body
					div#modal-footer
		div#alert
			div#alert-content
				span#alert-text
		script(src="/assets/main.js")
		block scripts
