doctype html

mixin userNameSelector(userPipeline)
	| {{if ne #{userPipeline}.Name ""}}
	| 	{{#{userPipeline}.Name}}
	| {{else}}
	| 	{{#{userPipeline}.UserName}}
	| {{end}}

html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(src="https://use.fontawesome.com/3ca30f4373.js")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
		block css
			link(rel="stylesheet", href="/assets/main.css")
		block head
	body
		div.navbar
			h2.logo
				a.navbar-title(href="/") Notebox
			form#search-form.search-container(action="/search/all", method="GET")
				input.search-field(type="text", name="q", placeholder="Search...", value="{{.query}}", form="search-form", autocomplete="off")
				button.search-btn(type="submit", form="search-form")
					span.fa.fa-search
			div.nav-right-container
				| {{if .loggedIn}}
				div.dropdown.account-dropdown
					span.dropdown-btn.account-dropdown-btn
						+userNameSelector(".user")
				div.dropdown.notification-dropdown
					span.dropdown-btn.notification-dropdown-btn.fa.fa-bell
				| {{if eq .user.Type "writer"}}
				a.writer-panel-btn(href="/writer-panel")
					span.fa.fa-plus
				| {{end}}
				| {{else}}
				div.sign-in-container
					a(href="/login") Login
					span /
					a(href="/register") Register
				| {{end}}
			div.nav-right-container-mobile
				div.dropdown.mobile-dropdown
					span.dropdown-btn.mobile-dropdown-btn.fa.fa-bars
		//- Dropdowns
		div.dropdown-content.notification-dropdown-content
			h3.dropdown-item Notifications
			div.unread-notifications-list
		div.dropdown-content.account-dropdown-content
			a.dropdown-item.dropdown-link(href="/account") My Account
			span.dropdown-item.dropdown-link.logout-btn Sign Out
		div.dropdown-content.mobile-dropdown-content
			| {{if .loggedIn}}
			h4.dropdown-item
				+userNameSelector(".user")
			| {{if eq .user.Type "writer"}}
			a.dropdown-item.dropdown-link(href="/writer-panel") Writer Panel
			| {{end}}
			a.dropdown-item.dropdown-link(href="/account") My Account
			span.dropdown-item.dropdown-link.logout-btn Sign Out
			| {{else}}
			div.sign-in-container
				a.dropdown-item.dropdown-link(href="/login") Login
				a.dropdown-item.dropdown-link(href="/register") Register
			| {{end}}
		//- Main Content
		div#main-content.main-content
			block body
		//- Modal
		div#modal.modal
			div.container
				div#modal-content.modal-content
					div#modal-header.modal-header
						span#modal-close.modal-close ×
					div#modal-body.modal-body
					div#modal-footer.modal-footer
		//- Alert
		div#alert.alert
			div#alert-content.alert-content
				span#alert-close.alert-close ×
				span#alert-text.alert-text
		//- Hidden data
		div.data.hidden
			div#logged-in-val {{.loggedIn}}
			div#user-data {{json .user}}
		script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js")
		script(src="/assets/main.js")
		block scripts
