extends ./template.pug

block head
	title Writer Panel
	link(rel="stylesheet", href="/assets/writer-panel.css")
	block writer-panel-head

block body
	div.writer-sidebar.panel
		h4.sidebar-header Create
		a.sidebar-link(href="/writer-panel/note") New Note
		a.sidebar-link(href="/writer-panel/collection") New Collection
		a.sidebar-link(href="/writer-panel/textbook") New Textbook
		a.sidebar-link(href="/writer-panel/tag") New Tag
		div.sidebar-section-container
			h4.sidebar-header My Notes
			| {{range .user.Notes}}
			| {{if .Published}}{{else}}
			a.sidebar-link.draft(href="/writer-panel/note/{{.ID}}/edit") {{.Title}} - Draft
			| {{end}}{{end}}
			| {{range .user.Notes}}
			| {{if .Published}}
			a.sidebar-link(href="/writer-panel/note/{{.ID}}/edit") {{.Title}}
			| {{end}}{{end}}
		div.sidebar-section-container
			h4.sidebar-header My Collections
			| {{range .user.Collections}}
			a.sidebar-link(href="/writer-panel/edit/collection/{{.ID}}") {{.Title}}
			| {{end}}
		div.sidebar-section-container
			h4.sidebar-header My Textbooks
			| {{range .user.Collections}}
			a.sidebar-link(href="/writer-panel/edit/collection/{{.ID}}") {{.Title}}
			| {{end}}
	div.writer-body
		block writer-panel-body
