@import "util/variables.scss";
@import "main.scss";

@import "note.scss";

.collection-sidebar, .collection-body {
	box-sizing: border-box;
	float: left;
}

.collection-sidebar {
	background-color: $foreground-color;
	border-right: 1px solid $border-color;
	box-sizing: border-box;
	height: calc(100vh - 50px);
	left: 0;
	padding: 20px;
	position: fixed;
	top: 50px;
	width: 230px;
	z-index: 1;
}

.collection-body {
	left: 230px;
	margin: 20px;
	overflow-x: hidden;
	position: relative;
	width: calc(100% - 270px);
}

@media screen and (min-width: 1270px) {
	.note-container {
		margin: auto;
		width: 1000px;
	}
}

@media screen and (max-width: 1000px) {
	.collection-sidebar, .collection-body { margin: 20px 20px 0 20px; }
	.collection-sidebar {
		border: 1px solid $border-color;
		height: auto;
		position: static;
		width: calc(100% - 40px);
	}
	.collection-body {
		padding-top: 0;
		position: static;
		width: calc(100% - 40px);
	}
}
