@import "util/variables.scss";
@import "main.scss";

@import "util/item-list.scss";
@import "util/panel-contributor.scss";

.collection-info, .collection-notes { width: 1000px; }

.collection-info {
	margin: 20px auto 10px auto;
}

.collection-notes {
	margin: 10px auto 20px auto;
}

@media only screen and (max-width: 1040px) {
	.collection-info, .collection-notes { width: calc(100% - 40px); }
}
