@import "variables.scss";

// Styles for form elements
.form-input {
	border: 1px solid $input-border-color;
	box-sizing: border-box;
	display: block;
	font-size: 1rem;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 5px;
}
