.navbar {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	.navbar-list {
		background-color: #b3b3b3;
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		padding: 0;

		.navbar-left { float: left; }
		.navbar-right { float: right; }
	}
}
