@import "variables.scss";

.navbar {
	background-color: $foreground-color;
	border-bottom: 1px solid $border-color;
	display: flex;
	height: 50px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;

	.logo {
		display: inline;
		margin: auto 0;
		padding-left: 20px;
		width: 250px;

		.navbar-title {
			color: #000000;
			text-decoration: none;
		}
	}

	.nav-right-container {
		display: inline;
		margin: auto 0 auto auto;
		padding-right: 20px;
		div { display: inline; }

		.sign-in {
			background-color: #167ac6;
			border: 1px solid darken(#167ac6, 10%);
			color: #ffffff;
			height: 30px;
			padding: 5px;
			text-decoration: none;
		}

		.sign-in:active {
			background-color: darken(#167ac6, 10%);
		}
	}

	.search-container {
		display: inline;
		flex-grow: 1;
		margin: auto 0;

		input {
			border: 1px solid darken($border-color, 20%);
			height: 30px;
			width: 600px;
		}

		button {
			background-color: $background-color;
			border: 1px solid darken($border-color, 20%);
			height: 34px;
			width: 70px;
		}

		@media only screen and (max-width: 1100px) {
			input { width: 80%; }
			button { width: 10%; }
		}
	}
}
