@import "variables.scss";

.navbar {
	background-color: $foreground-color;
	border-bottom: 1px solid $border-color;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;

	.navbar-list {
		list-style-type: none;
		margin-bottom: 0;
		margin-top: 0;
		overflow: hidden;
		padding: 0;

		.navbar-left { float: left; }
		.navbar-right { float: right; }
	}
}
