@import "util/variables.scss";
@import "main.scss";

@import "util/item-list.scss";

.home-wrapper {
	margin: 20px auto;
	width: 1000px;
}

@media only screen and (max-width: 1040px) {
	.home-wrapper {
		margin: 20px;
		width: calc(100% - 40px);
	}
}

.home-top-wrapper {
	padding: 20px;
	text-align: center;

	h1 {
		font-weight: 400;
		font-size: 48px;
	}
}

.panel {
	margin-bottom: 20px;
}

.no-content-text { padding: 20px; }
