@import "util/variables.scss";
@import "main.scss";

.login-panel, button, input {
	margin-left: auto;
	margin-right: auto;
}

.login-panel {
	margin-top: 5%;
	text-align: center;
	width: 500px;

	.panel-body {
		margin: auto;
		width: 80%;

		button {
			margin-top: 10px;
			width: 62.5%;
		}
		input { width: 100%; }
		.seperator { display: block; }
	}
}

@media only screen and (max-width: 500px) {
	.login-panel { width: 100%; }
}
