@import "util/variables.scss";
@import "main.scss";

.login-panel, button, input {
	margin-left: auto;
	margin-right: auto;
}

.login-panel {
	background-color: $foreground-color;
	border: 1px solid $border-color;
	box-sizing: border-box;
	margin-top: 5%;
	padding: 20px;
	text-align: center;
	width: 500px;

	button {
		margin-top: 10px;
		width: 50%;
	}
	input { width: 80%; }
	.seperator { display: block; }
}

@media only screen and (max-width: 500px) {
	.login-panel { width: 100%; }
}
