@import "variables.scss";
@import "grid.scss";
@import "modal.scss";
@import "header.scss";
@import "form.scss";
@import "panel.scss";

// Main styles for the whole website
html, body {
	background-color: $background-color;
	font-family: $fonts;
	margin: 0;
	padding: 0;
}

body {
	min-height: calc(100vh - 50px);
	width: 100vw;

	.main-content {
		left: 0;
		min-height: calc(100vh - 50px);
		overflow-x: hidden;
		padding-top: 50px;
		position: relative;
		width: 100%;
	}
}
