@import "variables.scss";
@import "grid.scss";
@import "modal.scss";

// Main styles for the whole website
html, body {
	background-color: $background-color;
	font-family: $fonts;
	margin: 0;
	padding: 0;
}

// Form Elements
.form-control {
	display: block;
}
