@import "util/variables.scss";
@import "main.scss";

@import "util/writer-panel.scss";

.form-input {
	width: 100%;
}

.tag-name-container {
	display: flex;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;

	input {
		border: 1px solid $input-border-color;
		border-radius: 0;
		box-sizing: border-box;
		flex-grow: 1;
		font-size: 1rem;
		height: 100%;
		margin: 0;
		padding-left: 5px;
	}

	button {
		box-sizing: border-box;
		cursor: pointer;
		height: 100%;
		margin: 0;
		max-width: 80px;
		padding: 0;
		width: 70px;
	}
}

.tag-search-table {
	text-align: left;
	width: 100%;
}

.description-header { margin-bottom: 10px; }

.new-tag-description-field {
	box-sizing: border-box;
	min-height: 60px;
	width: 100%;
}

.create-btn-container {
	height: 30px;
	margin: 10px 0;
	width:100%;

	.new-tag-create-btn { float: right; }
}

.result-notification { color: $darker; }
