@import "variables.scss";

@import "editor.scss";

.form-input {
	width: 100%;
}

.new-note-editor {
	box-sizing: border-box;
	min-height: 300px;
	width: 100%;
}

.tag-selector {
	margin-bottom: 20px;
}

.save-draft-btn {
	margin-right: 10px;
}

.tag-selector-container {
	margin-bottom: 20px;
	width: 100%;

	.tag-selector {
		width: 100%;
	}
}
