@import "util/variables.scss";
@import "main.scss";

@import "util/horizontal-control.scss";
@import "util/item-list.scss";
@import "util/pageify.scss";
@import "util/page-sidebar.scss";

.user-items-content {
	width: 90%;
	margin: 20px auto;
}

.item-list {
	width: 100%
}
