.writer-sidebar, .writer-body {
	box-sizing: border-box;
	float: left;
}

.writer-sidebar {
	margin: 20px 20px 0 20px;
	width: 25%;

	.sidebar-link {
		display: block;
	}
}

.writer-body {
	margin: 20px 20px 0 20px;
	width: calc(75% - 80px);
}

@media screen and (max-width: 750px) {
	.writer-sidebar { width: calc(100% - 40px); }
	.writer-body { width: calc(100% - 40px); }
}
