@import "variables.scss";

.navbar {
	background-color: $theme-dark;
	box-sizing: border-box;
	height: 55px;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12.5px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	.logo {
		display: inline-block;
		float: left;
		margin: 0;

		.navbar-title {
			color: $theme-color;
			text-decoration: none;
		}
	}

	.nav-right-container, .nav-right-container-mobile {
		align-items: center;
		display: inline-flex;
		flex-direction: row-reverse;
		float: right;
		height: 30px;

		.sign-in-container { color: $link-color; }

		.sign-in-btn {
			box-sizing: border-box;
			cursor: pointer;
			height: 30px;
			padding: 5px;
			text-decoration: none;
		}

		.writer-panel-btn {
			color: $theme-color;
			line-height: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.writer-panel-btn:hover {
			cursor: pointer;
		}

		.dropdown {
			display: inline-block;
			position: relative;

			.dropdown-btn {
				cursor: pointer;
				line-height: 30px;
				color: $theme-color;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.search-container {
		float: left;
		height: 30px;
		position: relative;

		input {
			background-color: rgba(0, 0, 0, 0);
			border: 1px solid #5d5d5d;
			border-right: 0;
			border-radius: 0;
			box-sizing: border-box;
			color: $darker;
			font-size: 1rem;
			height: 100%;
			margin: 0;
			padding: 0 0 0 5px;
			top: 0;
			left: 0;
			position: absolute;
			width: calc(100% - 60px);
		}

		input:focus { outline: none; }

		button {
			top: 0;
			right: 0;
			position: absolute;
			background-color: rgba(0, 0, 0, 0);
			border: 1px solid #5d5d5d;
			box-sizing: border-box;
			color: $darker;
			cursor: pointer;
			height: 100%;
			margin: 0;
			padding: 0;
			width: 60px;
		}
	}
}

.dropdown-content {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.09);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	display: none;
	position: fixed;
	top: 60px;
	right: 5px;
	z-index: 2;

	.dropdown-item {
		background-color: #ffffff;
		color: #000000;
		display: block;
		padding: 12px 16px;
		margin: 0;

		.dropdown-item-date {
			color: $darker;
			display: block;
			font-size: 14px;
		}

		.dropdown-item-description {
			margin: 3px 0;
		}

	}

	.dropdown-item.inactive {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.no-items {
		color: $darker;
		display: block;
	}

	.dropdown-link {
		cursor: pointer;
		text-decoration: none;
		&:active { background-color: darken(#ffffff, 10%); }
	}
}

.account-dropdown-content { width: 150px; }

.notification-dropdown-content {
	width: 300px;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.navbar {
	.logo {
		padding-right: 50px;
		width: 100px;
	}
	.search-container {
		width: 600px;
	}
	.nav-right-container-mobile { display: none; }
}

@media only screen and (max-width: 1040px) {
	.navbar {
		.logo { display: none; }
	}
}

@media only screen and (max-width: 890px) {
	.navbar {
		.search-container { width: calc(100vw - 290px); }
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		.nav-right-container { display: none; }
		.nav-right-container-mobile { display: inline; }

		.search-container { width: calc(100vw - 90px); }
	}

	.dropdown-content {
		top: 55px;
		left: 0;
		right: 0;
		width: 100%
	}
}
