@import "variables.scss";
@import "tag-list.scss";

.item-list {
	margin: 0 auto;
	width: 90%;
}

.list-item {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;

	.item-left {
		box-sizing: border-box;
		display: flex;
		float: left;
		height: 50px;
		width: 50px;

		.item-number { margin: 0 auto; }

		button {
			height: 60%;
			margin: 0 auto;
			width: 60%;
		}
	}
	.item-right {
		display:flex;
		flex-direction: column;

		.item-date {
			color: $darker;
			font-size: 12px;
		}
	}
}

.item-seperator {
	border-bottom: 1px solid $border-color;
	height: 0;
	margin: 5px auto;
	width: 85%;
}

.item-ranking-container {
	display:flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	>span {
		flex-grow: 1;
		text-align: center;
	}

	.item-upvote, .item-downvote {
		cursor: pointer;
		color: $gray;

		&:active { color: $darker; }
	}

	.item-ranking { color: $darker; }
}

.item-ranking-container.upvoted {
	.item-ranking { color:$primary-color; }
	.item-upvote {
		color: $primary-color;
		&:active { color: darken($primary-color, 20%); }
	}
}

.item-ranking-container.downvoted {
	.item-ranking { color:$danger-color; }
	.item-downvote {
		color: $danger-color;
		&:active { color: darken($danger-color, 20%); }
	}
}
