@import "variables.scss";

.tag-list {
	display: flex;
	margin: 8px 0;

	.tag {
		background-color: $lighter;
		border-radius: 3px;
		color: $dark;
		cursor: pointer;
		display: inline;
		font-size: 13px;
		margin-right: 2px;
		padding: 5px 10px;
		text-decoration: none;

		&:active { background-color: $gray}
	}
}
