@import "variables.scss";

.tag-list {
	display: flex;
	margin: 8px 0;

	.tag {
		background-color: $primary-color;
		border-radius: 3px;
		color: white;
		display: inline;
		font-size: 13px;
		margin-right: 2px;
		padding: 5px 10px;
	}
}
