$fonts-light: Roboto Light, Helvetica, sans-serif;
$fonts-normal: Roboto, Helvetica, sans-serif;

$foreground-color: #ffffff;
$background-color: #fafafa;
$border-color: #e8e8e8;

$primary-color: #428bca;
$success-color: #41bf34;

$input-border-color: #d2d2d2;
$input-invalid-color: #dd4b39;

$lighter: darken(#ffffff, 5%);
$light: darken(#ffffff, 10%);
$gray: darken(#ffffff, 20%);
$dark: darken(#ffffff, 30%);
$darker: darken(#ffffff, 40%);
