.writer-sidebar, .writer-body {
	box-sizing: border-box;
	float: left;
}

.writer-sidebar {
	margin: 20px 10px 20px 40px;
	width: 300px;

	.sidebar-link {
		display: block;
	}
}

.writer-body {
	margin: 20px 40px 20px 10px;
	width: calc(100% - 400px);
}

@media screen and (max-width: 1200px) {
	.writer-sidebar { width: 25%; }
	.writer-body { width: calc(75% - 100px); }
}

@media screen and (max-width: 750px) {
	.writer-sidebar, .writer-body { margin: 20px; }
	.writer-sidebar { width: calc(100% - 40px); }
	.writer-body { width: calc(100% - 40px); }
}
