extends ./writer-panel.pug

block head
	title Edit Collection
	link(rel="stylesheet", href="/assets/select2.css")

block css
	link(rel="stylesheet", href="/assets/writer-panel-collection.css")

block writer-panel-body
	div.panel.edit-collection-container
		h2.panel-heading Edit Collection
		div.panel-body
			h4.panel-field-header Status: {{if.collection.Published}}Published{{else}}Draft{{end}}
			p
				| {{if.collection.Published}}
				| This collection is public and can be seen by everyone.
				| {{else}}
				| This collection is a draft and can only be seen by you.
				| {{end}}
			div.panel-seperator
			h4.panel-field-header Title
			input.collection-title.form-input(placeholder="Enter collection title...", value="{{.collection.Title}}", autocomplete="off")
			h4.panel-field-header Description
			textarea.collection-description {{.collection.Description}}
			div.char-remaining-container
				span.char-remaining
			h4.panel-field-header Search for notes to place in your collection
			div.input-btn-container
				input.note-search-field(placeholder="Search for a note...", autocomplete="off")
				button.note-search-btn.btn.btn-primary
					span.fa.fa-search.note-search-btn-icon
			div.search-result-container.hidden.item-list
			span.result-notification Please enter a search term...
			h4.panel-field-header Selected Notes
			div.selected-notes.hidden.item-list
			span.no-notes-text No notes selected...
			h4.panel-field-header Tags
			div.tag-selector-container
				select.tag-selector(multiple="multiple", style="width: 100%;")
					| {{range .collection.Tags}}
					option(value="{{.ID}}") {{.Name}}
					| {{end}}
		div.panel-footer
			| {{if .collection.Published}}{{else}}
			button.btn.btn-success.publish-btn Publish
			| {{end}}
			button.btn.btn-primary.save-btn Save
	div.hidden.data
		div#collection-data {{.collectionJSON}}

block scripts
	script(src="/assets/edit-collection.js")
