extends ./writer-panel.pug

block head
	title New Note
	link(rel="stylesheet", href="/assets/select2.css")

block css
	link(rel="stylesheet", href="/assets/writer-panel-note.css")

block body
	+sidebar("new-note")
	div.page-body
		div.panel.new-note-container
			h2.panel-heading Create a new note
			div.panel-body
				h4.panel-field-header Title
				input.full-width.note-title.form-input(placeholder="Enter note title...")
				h4.panel-field-header Type a short description for your note
				textarea.note-description
				div.char-remaining-container
					span.char-remaining
				h4.panel-field-header Type your note's content below
				textarea(name="editor")
				h4.panel-field-header Pick some tags for your note
				div.tag-selector-container
					select.tag-selector(multiple="multiple", style="width: 100%;")
			div.panel-footer
				button.btn.btn-success.publish-btn Publish
				button.btn.btn-primary.save-btn Save

block scripts
	script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
	script(src="/assets/ckeditor/ckeditor.js")
	script(src="/assets/new-note.js")
