extends ./writer-panel.pug

include ../items.pug

block head
	title Writer Panel - Collections

block css
	link(rel="stylesheet", href="/assets/writer-panel-list.css")

block body
	+sidebar("collections")
	div.page-body
		div.panel
			h2.panel-heading My Collections
			div.panel-body.pageify-content
				span.page-number Page {{.currentPage}}
				div.item-list.full-width
					| {{range .collections}}
					+collectionItem("/writer-panel/collection/{{.ID}}/edit", "")
					| {{end}}
				- var prevLink = "/writer-panel/collections?items={{.items}}&page={{.prevPage}}"
				- var nextLink = "/writer-panel/collections?items={{.items}}&page={{.nextPage}}"
				+navLinks(prevLink, nextLink)

block scripts
	script(src="/assets/ranking.js")
