extends ../template.pug

mixin sidebarLink(link, text, active)
	a.sidebar-link(href=link, class=active ? "active" : "") #{text}

mixin sidebar(subPage)
	div.page-sidebar.panel
		div.panel-body
			h4.sidebar-header My Creations
			+sidebarLink("/writer-panel/notes", "My Notes", subPage == "notes")
			+sidebarLink("/writer-panel/collections", "My Collections", subPage == "collections")
			h4.sidebar-header Create
			+sidebarLink("/writer-panel/note", "New Note", subPage == "new-note")
			+sidebarLink("/writer-panel/collection", "New Collection", subPage =="new-collection")
			+sidebarLink("/writer-panel/tag", "New Tag", subPage == "new-tag")
