@import "writer-panel.scss";

.form-input {
	width: 100%;
}

.tag-search-table {
	text-align: left;
	width: 100%;
}

.description-header { margin-bottom: 10px; }

.new-tag-description-field {
	box-sizing: border-box;
	max-width: 100%;
	min-height: 60px;
	min-width: 100%;
	width: 100%;
}

.create-btn-container {
	height: 30px;
	margin: 10px 0;
	width:100%;

	.new-tag-create-btn { float: right; }
}

.result-notification { color: $darker; }
