@import "writer-panel.scss";
@import "../util/item-list.scss";

.form-input {
	width: 100%;
}

.publish-btn {
	margin-left: 10px;
}

.select-note-number {
	margin: auto;
}

.select-options-right, .select-options-left {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	width: 50%;

	span {
		cursor: pointer;
	}
}

.collection-description {
	border: 1px solid $input-border-color;
	box-sizing: border-box;
	max-width: 100%;
	min-height: 100px;
	min-width: 100%;
	width: 100%;
}

.tag-selector-container {
	margin-bottom: 20px;
	width: 100%;

	.tag-selector {
		width: 100%;
	}
}

.result-notification, .no-notes-text { color: $darker; }
