extends ../template.pug

block head
	title Email Verified

block body
	div.panel.panel-single
		h2 Your email has been verified
		div.panel-body
			p If you forget your password. This email can be used to reset it.
